{% extends "base.html" %}
{% block content %}
<!-- 
    Page for creating articles.
    Renders each required category field. 
    Uses QuillForm to give users more control over text formatting.
-->
{% for message in messages %}
<small class="message">{{ message }}</small>
{% endfor %}
<div class="container mt-3 mb-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="createblog-field mb-3">
            <label class="post-label" for="title_field">Title :</label>
            <input type="text" id="title_field" class="form-control" name="title" placeholder="Article Title" value="{{ form.title.value }}">
        </div>
        <div class="createblog-field mb-3">
            <label class="post-label" for="excerpt_field">Excerpt :</label>
            <input type="text" id="excerpt_field" class="form-control" name="excerpt" placeholder="Article Excerpt" value="{{ form.excerpt.value }}">
        </div>
        <div class="createblog-field mb-3">
            <label class="post-label">Category :</label>
            {{ form.category }}
        </div>
        <div class="createblog-field mb-3">
            <label class="post-label">Article Image :</label>
            {{ form.cover_picture }}
        </div>
        <div class="createblog-field mb-3">
            <label class="post-label">Enter Article Content :</label>
            {{ form.content }}
        </div>
        <input class="btn logreg-button" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
