{% extends "base.html" %}
{% block content %}
<!-- 
    Page for creating polls.
    Renders the poll title and category choices.
-->
<div class="container mt-3">
    <h2 class="post-label">Poll</h2>
    <small class="post-label">Please input your the title and category of your poll below.</small>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="form-control" name="title" placeholder="Poll Title" value="{{ form.title.value }}">
        <br>
        <div class="categories text-center">
            {{ form.category }}
        </div>
        <br>
        <input class="btn logreg-button" type="submit" value="Submit">
    </form>
</div>
{% endblock %}