{% extends "base.html" %}

{% block content %}


<head>
    {{ form.media }}
</head>

    <div class="container mt-3">
        <div class="quill-group">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.title }}
                {{ form.slug }}
                {{ form.excerpt }}
                {{ form.article_image }}
                {{ form.article_image_url }}
                {{ form.content }}
            </form>
        </div>
    </div>
        
{% endblock %}