{% extends "base.html" %}

{% block content %}


<head>
    {{ form.media }}
</head>

    <div class="container mt-3">

        <div class="alert alert-danger">
            <strong>Error:</strong> {{ form.errors }}
        </div>

        <div class="quill-form-overall">
            <form action="" method="POST">

                {% csrf_token %}

                <div class="quill-field">
                    <label for="{{ form.title.id_for_label }}">Title:</label>
                    {{ form.title }}
                </div>
                <div class="quill-field">
                    <label for="{{ form.slug.id_for_label }}">Slug:</label>
                    {{ form.slug }}
                </div>
                <div class="quill-field">
                    <label for="{{ form.slug.id_for_label }}">Category:</label>
                    {{ form.category }}
                </div>
                <div class="quill-field">
                    <label for="{{ form.excerpt.id_for_label }}">Excerpt:</label>
                    {{ form.excerpt }}
                </div>
                <div class="quill-field">
                    <label for="{{ form.article_image.id_for_label }}">Main Article Image:</label>
                    {{ form.article_image }}
                </div>
                <div class="quill-field">
                    <label for="{{ form.article_image_url.id_for_label }}">Main Article Image URL:</label>
                    {{ form.article_image_url }}
                </div>
                <div class="quill-field">
                    <label for="{{ form.content.id_for_label }}">Article Content:</label>
                    {{ form.content }}
                </div>

                <input type="submit" value="Submit">

            </form>
        </div>
    </div>
        
{% endblock %}