{% extends "base.html" %}
{% block content %}
<!-- 
    Page for deleting user accounts and content.
    Displays a warning, and deletes if conditions are met.
-->
<div class="container mt-3 mb-3">
    <form method="POST">
        {% csrf_token %}
        <div class="about-header">
            <h1>Are you sure you want to delete {{request.user}}?</h1>
        </div>
        <p class="delete-warning">Your account and all associated data will be deleted.</p>
        <p class="delete-warning">This action cannot be reversed.</p>
        <br>
        <br>
        <input class="btn logreg-button" type="submit" value="Confirm">
    </form>
{% endblock %}