{% extends "base.html" %}
{% block content %}
<!-- 
    Page for deleting articles and polls.
    Displays a warning, and deletes if conditions are met.
-->
<div class="container mt-3 mb-3">
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete {{ obj.title }}?</p>
        <small>This action cannot be reversed.</small>
        <br>
        <br>
        <input class="btn btn-danger" type="submit" value="Confirm">
        <button class="btn btn-dark" type="button" onclick="denyDelete()">Go Back</button>
    </form>
{% endblock %}