{% extends 'base.html' %}
{%  block content %}
<!-- 
    Register and login page.
    Checks for the correct form to render.
-->
{% if page == 'login' %}
<div class="container mx-auto">
    <div class="row">
        <div class="col-8 mt-3 mx-auto">
            <div class="container  ">
                <form method="POST" action="">
                    {% csrf_token %}
                    <label>Username:</label>
                    <input type="text" name="username" class="form-control mx-auto" placeholder="Enter Username">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter Password">
                    <button type="submit" class="btn logreg-button">Login</button>
                </form>
                <hr>
                <br>
                <div class="shape-container logreg-container mx-auto">
                    <div class="row">
                        <div class="col-8 mx-auto">
                            <div class="shape">
                                <span>
                                    <a class="shape-text" href="{% url 'blog:register' %}">
                                        <h2 class="shape-text-join">Join Us</h2>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-8 mt-3 mb-3 mx-auto">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn logreg-button" type="submit" value="Register">
                </form>
                <hr>
                <br>
                <div class="shape-container logreg-container mx-auto mb-3 text-center">
                    <div class="row">
                        <div class="col mx-auto mb-3 text-center">
                            <div class="shape">
                                <span>
                                    <a href="{% url 'blog:login' %}">
                                        <h2 class="shape-text-already">Or Login</h2>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}