{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row justify-content-md-center pt-5">
        <div class="col-md-8">

            <div class="col-12"><h1>{{post.title}}</h1></div>
            <div class="col-12"><h2>{{post.author}}</h2></div>

            <div class="col-12"><a href="{% url 'blog:edit-blog' pk=post.pk  %}">Edit</a></div>
                <div class="col-12"><a href="{% url 'blog:delete-blog' pk=post.pk %}">Delete</a></div>

                
            <div class="col-12"><p>{{post.content}}</p></div>
            {% if post.image_url %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
        </div>

    </div>

    
</div>

{% endblock %}