/* Home Styling */
.body-colour {
    background-color: #f7f7ff;
}
.welcome,
.alert {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-link {
    color: #fff !important;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #DC143C !important;
    scale: 1.1;
}

.category-list {
    float: left;
    text-align: center;
    width: 100%;
}

.dropdown-menu {
    background-color: #000;
}

.dropdown-item {
    color: #fff;
}

.footer {
    bottom: 0;
}

.footer-logo {
    height: 50px;
    width: auto;
}

.offcanvas-logo {
    height: 50px;
    width: 150px;
    padding-left: 25px;

}

.menu-btn {
    color: #fff;
}

.sidebar-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
    transition: 0.5s ease;
    font-weight: 600;
    letter-spacing: 5px;
}

.sidebar-nav-link:hover {
    color: #DC143C;
    letter-spacing: 1.5px;
}

.social {
    font-size: 2rem;
    margin-top: 5px;
    color: #000;
    transition: 0.5s ease;
}

.social:hover {
    color: #DC143C;
    scale: 1.2;
}

.social-footer {
    font-size: 2rem;
    margin-top: 5px;
    color: #fff;
    transition: 0.5s ease;
}

.social-footer:hover {
    color: #DC143C;
    scale: 1.2;
}

.connect-text {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.banner-title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5vw;
    transition: 0.5s ease;
 }
 .banner-subtitle {
    margin-top: -25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.1vw;
    transition: 0.5s ease;
 }
 .horror {
    color: #ff0066;
 }
 @media screen and (max-width: 4000px) {
    .banner-title {
        font-size: 1.2vw; /* Adjusted font size for screens up to 576px width */
    }
    
    .banner-subtitle {
        padding-top: 5px;
        font-size: 1vw; /* Adjusted font size for screens up to 576px width */
    }
}
@media screen and (max-width: 2000px) {
    .banner-title {
        font-size: 2.4vw; /* Adjusted font size for screens up to 576px width */
    }
    
    .banner-subtitle {
        padding-top: 5px;
        font-size: 2vw; /* Adjusted font size for screens up to 576px width */
    }
}
 @media screen and (max-width: 768px) {
    .banner-title {
        font-size: 4vw; 
    }
    
    .banner-subtitle {
        padding-top: 5px;
        font-size: 3.3vw;
    }
}

@media screen and (max-width: 576px) {
    .banner-title {
        font-size: 4.5vw; /* Adjusted font size for screens up to 576px width */
    }
    
    .banner-subtitle {
        padding-top: 5px;
        font-size: 3.7vw; /* Adjusted font size for screens up to 576px width */
    }
}

@media screen and (max-width: 480px) {
    .banner-title {
        font-size: 4.5vw; /* Adjusted font size for screens up to 480px width */
    }
    
    .banner-subtitle {
        padding-top: 5px;
        font-size: 3.7vw; /* Adjusted font size for screens up to 480px width */
    }
}

@media screen and (max-width: 375px) {
    .banner-title {
        font-size: 6vw; /* Adjusted font size for screens up to 375px width */
    }
    
    .banner-subtitle {
        padding-top: 8px;
        font-size: 5vw; /* Adjusted font size for screens up to 375px width */
    }
}

@media screen and (max-width: 320px) {
    .banner-title {
        font-size: 6vw; /* Adjusted font size for screens up to 320px width */
    }
    
    .banner-subtitle {
        padding-top: 5px;
        font-size: 5vw; /* Adjusted font size for screens up to 320px width */
    }
}


.article-img {
    height: 300px;
    width: 300px;
    object-fit: fill;
}

.article-img:hover {
    filter: contrast(125%);
    transition: .3s ease-in-out;
}

.hr-div {
    display: flex;
    justify-content: flex-end;
}

.article-divider {
    width: 100%;
}

.title {
    text-decoration: none;
    color: #ff0066;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: block;
}

.title:hover {
    color: #DC143C;
    transition: .3s ease-in-out;
}

.excerpt {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.poll-title {
    background-color: #ff0066;
    padding: 20px;
}
.poll-title,
.counter {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
}
.height-fixed {
    height: 200px;
    overflow: hidden;
}

.edit-delete {
    color: #000;
    margin-right: 5px;
    margin-left: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.5s ease;
}
.edit-delete:hover {
    letter-spacing: 3px;
    color: #ff0066;
}
.carousel-caption {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: larger;
    letter-spacing: 2px;
    background-color: rgba(255, 0, 102, 0.8); /* Black background with 50% opacity */
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
}
.carousel-indicators {
    display: none;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
    filter: invert(50%);
}
.modal-content {
    background-color: #ff0066;
}
.modal-body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
}
.content-warning-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
}
.dreadify_logo_white {
    height: 100px;
    width: 200px;
}
.btn-modal-close {
    background-color: #ff0066;
    color: #fff;
    border: solid 1px #fff;
    transition: 0.5s ease;
}
.btn-modal-close:hover {
    border: solid 1px #000;
}
.show-me {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.show-me:hover {
    letter-spacing: 1px;
}
.section-header {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .section-header h1 {
    display: inline-block;
    background-color: #ff0066;
    color: white;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
  }
  
  .section-header hr {
    position: absolute;
    width: 100%;
    border: none;
    height: 6px;
    background-color: #ff0066;
    top: 50%;
    margin-top: -1px; 
    z-index: -1;
    opacity: 1;
  }
  .up {
    color: #000;
    background-color: #ff0066;
  }
  .up:hover {
    color: #fff;
    background-color: #ff0066;
  }
  .down {
    color: #ff0066;
    background-color: #000;
  }
  .down:hover {
    color: #fff;
    background-color: #000;
  }
  /* About Page */
  .about-header {
    text-align:start;
    position: relative;
    margin-bottom: 10px;
  }
  
  .about-header h1 {
    display: inline-block;
    background-color: #ff0066;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
  }
  .about {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  .about-logo {
    height: 300px;
    width: 600px;
    filter: drop-shadow(0px 4px 8px rgba(255, 0, 102, 0.5));
  }
/* 404 Styling */

.pixel_text {
    font-family: "Pixelify Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 42px;
    padding-top: 20px;
    padding-left: 30px;
    color: #fff;
    background-color: #000;
    border: 4px solid #182261;
}
.background-img {
    background-image: url("https://i.kinja-img.com/image/upload/c_fill,h_675,pg_1,q_80,w_1200/prrtzdx5mxpgtlvsllzy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 68vh;
}

/* Login / Register */

.shape-container {
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    width: 360px;
    margin: 0 auto;
}

.shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background-color: #ff0066;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.5s ease;
}
.logreg-button {
    background-color: #ff0066;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 10px;
}
.logreg-button:hover {
    background-color: #000;
    color: #ff0066;
}
.shape:hover {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.shape-text-join {
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    transition: scale 0.5s ease;
}

.shape-text-already {
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    transition: scale 0.5s ease;
}

.shape-text-join:hover {
    scale: 1.2;
}

.shape-text-already:hover {
    scale: 1.1;
}

/* Create Poll & Create Article */

.categories {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Comments */
.comment-container {
    overflow-wrap: break-word;
}
.comment-author, .comment-time, .comment-content{
    font-family: Arial, Helvetica, sans-serif;
}
.comment-author{
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}
.comment-content {
    margin-top: -5px;
}
/* Article Page */
.article-post-image {
    height: auto;
    width: 50vw;
}
.article-post-title {
    display: inline-block;
    background-color: #ff0066;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.article-post-author,
.comment-button {
    display: inline-block;
    background-color: #000;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.get-started {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
    color: #ff0066;
}
/* Word */

/* Word */

/* Word */

/* Word */

/* Word */