{% extends "base.html" %}
{% block content %}
<!-- 
    404 Page.
    Based on the Castlevania 2 Simon's Quest "What a horrible night to have a curse" message.
-->
<div class="background-img">
    <div class="container background-img">
        <div class="shape-container">
            <div class="shape">
                <div class="row">
                    <div class="col col-md-5 bg-black border-danger mt-3 p-3 mb-3">
                        <h1 class="pixel_text">
                            What a <br>
                            horrible <br>
                            night to <br>
                            have a <br>
                            404.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}