{% extends "base.html" %}
{% block content %}
<!-- 
    404 Page.
    Based on the Castlevania 2 Simon's Quest "What a horrible night to have a curse" message.
-->
<style>
    
</style>
<div class="background-img">
    <div class="container background-img">
        <div class="shape-container mx-auto">
                    <h1 class="pixel_text mt-3 mx-auto">
                        What a <br>
                        horrible <br>
                        night to <br>
                        have a <br>
                        404.</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}