{% extends "base.html" %}

{% block content %}

<!-- 
    Index for website.
    Iterates through and displays polls and articles.
-->

<div class="article-card py-4">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6 mx-auto">
                <div class="row">
                    <div class="poll-container">

                        {% for poll in polls %}

                        <h1 class="poll-title">{{ poll.title }}</h1>
                        <form method="GET" action="{% url 'blog:poll_page' poll.id %}">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit" name="thumbs_up" value="1"><i class="fa-solid fa-thumbs-up"> :
                                    {{ poll.thumbs_up_count }}</i></button>
                            <button class="btn btn-danger" type="submit" name="thumbs_down" value="1"><i class="fa-solid fa-thumbs-down"> :
                                    {{ poll.thumbs_down_count }}</i></button>

                            {% if request.user.username == poll.author.username %}
                                <a class="edit-delete" href="{% url 'blog:edit_poll' pk=poll.pk  %}">Edit</a>
                                <small>|</small>
                                <a class="edit-delete" href="{% url 'blog:delete_poll' pk=poll.pk  %}">Delete</a>
                            {% endif %}
                        </form>
                        <hr>
                        <br>
                        {% endfor %}
                    </div>

                    {% for post in posts %}
                    <div class="col-12 mb-3 align-self-center height-fixed">
                        <div class="row g-0">
                            <div class="col-5 bg-dark height-fixed">
                                <div class="wrapper">
                                    
                                    <a href="{{post.get_absolute_url}}">
                                        <img class="img-fluid article-img" src="{{ post.cover_picture.url }}" alt="{{ post.title }}">
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="col-7 g-3 height-fixed">
                                <small class="text-muted text-uppercase">{{post.category}} / {{post.publish}}</small>
                                <h1><a class="title" href="{{post.get_absolute_url}}">{{post.title}}</a></h1>
                                <p class="excerpt">{{post.excerpt}}</p>
                                <!-- <p>{{post.content|truncatewords:15|safe}}</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="hr-div">
                        <hr class="article-divider">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}