{% extends "base.html" %}

{% block content %}

    <div class="container">

        <a href="{% url 'blog:create-blog' %}">Create Post</a>

        <div class="row justify-content-md-center">
                {% for post in posts %}
            
                <div class="col-8"><h1><a href="{{post.get_absolute_url}}">{{post.title}}</a></h1></div>
                <div class="col-12"><a href="{% url 'blog:edit-blog' pk=post.pk  %}">Edit</a></div>
                <div class="col-12"><a href="{% url 'blog:delete-blog' pk=post.pk %}">Delete</a></div>
                {% if post.image_url %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" style="height: 200px; width: auto;">
                {% endif %} 
                <div class="col-8"><h3>{{post.excerpt}}</h2></div>
                <div class="col-8"><h4>{{post.author}}</h2></div>
                <div class="col-8"><p>{{post.content|truncatewords:30|safe}}</p></div>

                {% endfor %}
        </div>
    </div>


{% endblock %}